body{
    background-color: #ef8282;

}

canvas{
    /* put it in center */
    display: block;
    margin: auto;   
}

button{
    background-color: #82efa3;
    color: rgb(139, 139, 139);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


